pin-depends: [
#  [ "hwloc.dev" "git+https://github.com/patricoferris/ocaml-hwloc#3447dc5c40f0d868529aafcc84b5d2d971062b30" ]
#  [ "jansson.dev" "git+https://github.com/patricoferris/ocaml-jansson#42cb429e722ec64807d75ae401758eb666c9d189" ]
#  [ "variorum.dev" "git+https://github.com/patricoferris/ocaml-variorum#9128770e9df08ca7a90f317acc08b9cd49da6766" ]
  [ "capnp-rpc.dev" "git+https://github.com/mirage/capnp-rpc#ae9c3e44a4400d7c153a9ffaabead638936bf63a" ]
  [ "capnp-rpc-net.dev" "git+https://github.com/mirage/capnp-rpc#ae9c3e44a4400d7c153a9ffaabead638936bf63a" ]
  [ "capnp-rpc-unix.dev" "git+https://github.com/mirage/capnp-rpc#ae9c3e44a4400d7c153a9ffaabead638936bf63a" ]
  [ "carbon.dev" "git+https://github.com/geocaml/carbon-intensity#7286c68fad5bb05d67d92d2dee899efa5a59fd81" ]
]