pin-depends: [
  [ "hwloc.dev" "git+https://github.com/patricoferris/ocaml-hwloc#3447dc5c40f0d868529aafcc84b5d2d971062b30" ]
  [ "jansson.dev" "git+https://github.com/patricoferris/ocaml-jansson#42cb429e722ec64807d75ae401758eb666c9d189" ]
  [ "variorum.dev" "git+https://github.com/patricoferris/ocaml-variorum#9128770e9df08ca7a90f317acc08b9cd49da6766" ]
  [ "carbon.dev" "git+https://github.com/geocaml/carbon-intensity#082940a268dc5b5ae53090804fc8a92259fec467" ]
  [ "capnp-rpc.dev" "git+https://github.com/talex5/capnp-rpc#16f29503b8c295a74cdcc352b6af2f642493f48d" ]
  [ "capnp-rpc-net.dev" "git+https://github.com/talex5/capnp-rpc#16f29503b8c295a74cdcc352b6af2f642493f48d" ]
  [ "capnp-rpc-lwt.dev" "git+https://github.com/talex5/capnp-rpc#16f29503b8c295a74cdcc352b6af2f642493f48d" ]
  [ "capnp-rpc-unix.dev" "git+https://github.com/talex5/capnp-rpc#16f29503b8c295a74cdcc352b6af2f642493f48d" ]
]